@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

#sorryMessage {
  text-align: center;
  margin: 5% 5% 5% 5%;
}

.responsiveImage {
  width: 100%;
  height: auto;
  max-width: 400px;
  padding-top: 50px;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8px;
  letter-spacing: 1px;
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 65px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  padding: 20px 0 0 0;
}

nav h1 a {
  color: #d9d9d9;
  font-size: 16px !important;
  font-weight: lighter;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 0 16px 6px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 350px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 58px;
  background-color: #3397db;
  align-items: center;
  display: inline-flex;
}

.filter-options h2 {
  color: white;
  font-size: 9pt;
  font-weight: normal;
  line-height: 1;
  margin: 0 4px 0 4px;
  width: 25%;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  height: 46px;
  letter-spacing: 0;
  margin: 2px 4px 2px 2px;
  width: 37%;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  /* margin: 0;
  padding: 30px 15px 60px; */
  text-align: center;
  padding: 5%;
  margin: 0;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 0 0 4% 0;
  padding: 5% 7% 4%;
  text-align: left;
  width: 85%;
  border-radius: 35px 5px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  border-radius: 35px 5px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 15px;
  color: #565555;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 13pt;
  padding: 0 25% 0 25%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  width: 50%;
  margin-top: 3%;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 350px;
  position: absolute;
  /* right: 0; */
  top: 116px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 98%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 17pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  border-radius: 30px 3px;
}

#restaurant-address {
  font-size: 15pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  border-radius: 15px;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 90%;
  margin: 0;
}

#restaurant-container {
  padding: 470px 5% 5%;
}

#reviews-container {
  padding: 5% 5% 5%;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 0 3% 0;
  position: relative;
  width: 100%;
  border-radius: 20px 1%;
}

#reviews-list li p {
  margin: 1px 0 10px;
}

#restaurant-hours td {
  color: #666;
  font-size: 9pt;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 500 !important;
}

#reviews_header_name {
  width: 60%;
  float: left;
  margin: 0;
}

#reviews_header_date {
  padding: 6px 0 0;
}

#reviews_header_date p {
  color: #c4c4c4;
  font-size: 10pt;
}

#reviews_header_name p {
  font-size: 14pt;
}

#reviews_rating {
  background-color: #ffa84c;
  text-align: center;
  width: 70px;
  border-radius: 3px;
  height: 21px;
  vertical-align: middle;
  margin: 4% 0 0 5%;
}

#reviews_header {
  padding: 4% 0 0.5% 5%;
  background: #404142;
}

#reviews_comments {
  margin: 11px 0 0 !important;
  padding: 1% 5% 2%;
  color: #565555;
}

#reviews_header_name p,
#reviews_rating p {
  color: #f9f9f9;
}

/* Small devices (portrait tablets and large phones, 700px and up) */

@media only screen and (min-width: 700px) and (max-width: 850px) {
  .filter-options select {
    width: 42%;
    font-size: 13pt;
  }
  .filter-options h2 {
    width: 20%;
    font-size: 21px;
    margin: 0 0 0 20px;
  }
  #restaurants-list {
    padding: 5% 10%;
  }
  #restaurants-list li a {
    padding: 1% 25% 1% 25%;
  }
  #restaurant-container,
  #reviews-container {
    width: 70%;
  }
  #restaurant-container {
    padding: 480px 15% 5%;
  }
  #reviews-container {
    padding: 5% 15% 5%;
  }
  #restaurant-hours td {
    font-size: 12pt;
  }
  nav h1 a {
    font-size: 25px !important;
    letter-spacing: 13px;
  }
  #reviews-list li {
    border-radius: 31px 0;
  }
  #reviews_comments {
    font-size: 12pt;
  }
  #footer {
    font-size: 12px;
    letter-spacing: 4px;
  }
}

/* Medium devices (landscape tablets, 851px and up) */

@media only screen and (min-width: 851px) and (max-width: 1200px) {
  .filter-options select {
    width: 42%;
    font-size: 13pt;
  }
  .filter-options h2 {
    width: 20%;
    font-size: 21px;
    margin: 0 0 0 20px;
  }
  #restaurants-list {
    padding: 5% 15%;
  }
  #restaurants-list li a {
    padding: 1% 25% 1% 25%;
  }
  #restaurant-container,
  #reviews-container {
    width: 70%;
  }
  #restaurant-container {
    padding: 480px 15% 5%;
  }
  #reviews-container {
    padding: 5% 15% 5%;
  }
  #restaurant-hours td {
    font-size: 12pt;
  }
  nav h1 a {
    font-size: 25px !important;
    letter-spacing: 13px;
  }
  #reviews-list li {
    border-radius: 31px 0;
  }
  #reviews_comments {
    font-size: 12pt;
  }
  #footer {
    font-size: 12px;
    letter-spacing: 4px;
  }
}

/* Large devices (laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .filter-options select {
    width: 42%;
    font-size: 13pt;
  }
  .filter-options h2 {
    width: 20%;
    font-size: 21px;
    margin: 0 0 0 20px;
  }
  #restaurants-list {
    padding: 5% 25%;
  }
  #restaurants-list li a {
    padding: 1% 25% 1% 25%;
  }
  #restaurant-container,
  #reviews-container {
    width: 50%;
  }
  #restaurant-container {
    padding: 480px 25% 5%;
  }
  #reviews-container {
    padding: 5% 25% 5%;
  }
  #restaurant-hours td {
    font-size: 12pt;
  }
  nav h1 a {
    font-size: 25px !important;
    letter-spacing: 13px;
  }
  #reviews-list li {
    border-radius: 31px 0;
  }
  #reviews_comments {
    font-size: 13pt;
  }
  #footer {
    font-size: 12px;
    letter-spacing: 4px;
  }
  #reviews_header {
    padding: 2% 0 0.5% 5%;
  }
  #reviews_header_name p {
    font-size: 18pt;
  }
  #reviews_header_date p {
    font-size: 15pt;
  }
  #reviews_rating p {
    font-size: 13pt;
  }
  #reviews_rating {
    padding: 5px;
  }
}
